.land
    .land__logo
        img(src="./img/logo.png" alt="favbet")
    //.land__left
    //    .land__title До нових висот з бонусом*
    //    .land__prize 15 000₴
    //    .land__spins + 300 фрiспiнiв
    //    .land__btn хапай штурвал
    //.land__right
    //    .land__right-pers
    //        img(src="./img/pers.png" alt="favbet")
    //    .land__right-plane
    //        img(src="./img/plane.png" alt="favbet")
.footer
    .footer__text  ТОВ «БУКМЕКЕРСЬКА КОМПАНІЯ «ФАВБЕТ». Ліцензія на провадження діяльності з організації та проведення букмекерської діяльності від 28.12.2022, видана згідно з рішенням КРАІЛ № 433 від 13.12.2022 та Ліцензія на провадження діяльності з організації та проведення азартних ігор казино в мережі Інтернет від 20.04.2021, видана згідно з рішенням КРАІЛ № 137 від 05.04.2021, зі змінами.
    .footer__wrap
        ul.footer__licensed
            li.footer__licensed-item
                img(src="./img/age.svg" alt="favbet")
            li.footer__licensed-item
                img(src="./img/applePay.svg" alt="favbet")
            li.footer__licensed-item
                img(src="./img/googlePay.svg" alt="favbet")
            li.footer__licensed-item
                img(src="./img/visa.svg" alt="favbet")
            li.footer__licensed-item
                img(src="./img/mastercard.svg" alt="favbet")
        .footer__btns
            a(href="https://apps.apple.com/ua/app/favbet-ua/id1580749519" target="_blank").footer__appstore
            a(href="https://favbet.ua/minio/android-files/FavbetUA.apk" target="_blank").footer__googlePlay
.legal УЧАСТЬ В АЗАРТНИХ ІГРАХ МОЖЕ ВИКЛИКАТИ ІГРОВУ ЗАЛЕЖНІСТЬ. ДОТРИМУЙТЕСЯ ПРАВИЛ (ПРИНЦИПІВ) ВІДПОВІДАЛЬНОЇ ГРИ